<style>
        body {
            font-size:13px; 
            font-family:verdana;
        };
    
        p {
            margin: 3px !important;
        };
</style>
<div style="font-size:13px; font-family:verdana">
    
    <p>Hi, <%= user.firstName %></p>
    <p>The survey is now complete.</p>
    <p>Thank you, the <%= applicationTitle %> Administration Team.</p>
</div>