<p>Dear &lt;%=nominee.firstName%&gt;,</p>
<p>Please note that the Leadership 360 assessment for &lt;%=delegate.firstName%&gt; &lt;%=delegate.lastName%&gt; will
    close at &lt;%=timeEnd%&gt; on &lt;%=dateEnd%&gt;.</p>
<p>Use this <a href="">link</a> to enter the Mores-Assessment dashboard, and either register as a new user or login as
    an existing user to begin. You may also return to the dashboard at any time to complete the assessment.</p>
<p>Please reply to this email if you have any questions.</p>
<p>Warmest regards,</p>
<p>Mores-Assessments support team</p>
<p><br></p>
<p><br></p>